<div>
  <!-- If the user is authenticated, display the main layout -->
  <div *ngIf="isAuthenticated; else loginPage" class="flex h-screen">
    <!-- Sidebar -->
    <app-sidebar [userRole]="userRole" class="w-64"></app-sidebar>

    <!-- Main Content -->
    <div class="flex-1 flex flex-col bg-gray-200">
      <!-- Navbar -->
      <div class="fixed left-56 right-0 z-10 bg-black shadow-md">
        <app-navbar></app-navbar>
      </div>

      <!-- Scrollable Content -->
      <div class="flex-1 mt-16 overflow-y-auto  mx-4">
        <router-outlet></router-outlet>
      </div>
      
    </div>
    
  </div>
  <div class="mt-1"><app-footer></app-footer></div>

  <!-- Login Page -->
  <ng-template #loginPage>
    <router-outlet></router-outlet>
  </ng-template>
</div>
